*.class
.settings
.classpath
.project

# Package Files #
*.jar
*.war
*.ear

/work
/bin
/target
/work/_log
/work/*/output

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
